<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jchip.album">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/album_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/album_round"
        android:supportsRtl="true"
        android:theme="@style/app_theme"
        tools:replace="android:label">

        <activity
            android:name=".ActivitySplash"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityAlbum"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/app_theme" />
        <activity
            android:name=".ActivityFrame"
            android:theme="@style/layer_theme" />
        <activity
            android:name=".ActivityFont"
            android:theme="@style/layer_theme" />
        <activity
            android:name=".ActivityAbout"
            android:theme="@style/layer_theme" />

        <activity
            android:name=".ActivityAlbumSetting"
            android:icon="@drawable/widget_icon"
            android:roundIcon="@drawable/widget_icon"
            android:screenOrientation="portrait"
            android:theme="@style/widget_setting">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".photo.activity.PhotoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/app_theme" />

        <activity
            android:name=".photo.activity.PhotoPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/app_theme" />

        <activity
            android:name=".ActivityPhotoSetting"
            android:icon="@drawable/widget_icon"
            android:roundIcon="@drawable/widget_icon"
            android:screenOrientation="portrait"
            android:theme="@style/widget_setting">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ActivityAlbumSetting$AlbumProvider"
            android:label="@string/album_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_album_info" />
        </receiver>
        <receiver
            android:name=".ActivityPhotoSetting$PhotoProvider"
            android:label="@string/photo_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_photo_info" />
        </receiver>

    </application>

</manifest>